.homepage .new-products-frame {
    width: 100%;
    height: 605px;
    background: #5858ec;
    display: flex;
    .homepage .main {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    gap: 30px;
}
}




